#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui menu"> 
  <a class="ui active item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui item" href="/logout">Logout</a>      
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
   <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends (${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
            <div class="item">
              <i class="right triangle icon"></i>
              <div class="content">
                <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
                (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
              </div>
            </div>
          #{/list}
        </div>
      </div>
      <div class="ui column">
        <h2>Messages </h2>
        <table class="ui green fixed table">
        	<thead>
        		<tr>
        			<th>Sender</th>
        			<th>Subject</th>
        			<th>Message</th>
        		</tr>
        	<thead>
        	<tbody>
        		#{list items:user.inbox, as:'message'}
        		<tr>
        		 <td><a href="publicprofile/${message.from.id}">
      		 	 	 	${message.from.firstName}</a></td>
      		 	 <td>${message.messageSubject}</td>
      		 	 <td>${message.messageText}</td>
      		 	</tr>
      		  #{/list}
        	</tbody>
        </table>
        
      <div class="ui list"> 
      </div>
         <div class="ui column">
           <h2>Nationality</h2>
     		<div class="item">
     			<i class="right triangle icon"></i> ${user.nationality}
     		</div>
         </div>
       </div>
     <div class="ui column">
      <h2>Age</h2>
     	<i class="right triange icon"></i> ${user.age}
     </div>
  </div>
</section>