#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui menu"> 
  <a class="ui active item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>   
  <a class="ui item" href="/login">Logout</a>      
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home page for ${user.firstName} ${user.lastName}</h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends (${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
            <div class="item">
              <i class="right triangle icon"></i>
              <div class="content">
                <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
                (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
              </div>
            </div>
          #{/list}
        </div>
      </div>
      <div class="ui column">
        <h2>Messages</h2>
        <div class="ui list">
          #{list items:user.inbox, as:'message'}
            <div class="item">
              <i class="right triangle icon"></i> ${message.from.firstName} says...  ${message.messageText}
            </div>
          #{/list}
        </div>
      </div>
    </div>
  </div>
</section>